.App {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.Layers {
  right: 100px;
  bottom: 50px;
  position: absolute;
  border-radius: 2em 20px 2.5em 0.2in;
  background: rgba(228, 208, 234, 0.88);
  padding: 20px;
}

input[type="checkbox"] {
accent-color: rgba(82,45,91,0.33);
}